/* GENERAL */

body{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    color: #000000;
    background-color: #e84545;
}

section{
    padding-top:15px;
}

.section{
    text-align: center;
    float: left;
    width: 100%;
    padding: 5px;
}


.boton{
    background-color: #e84545;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 14px 5px 14px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
}

.fixed{
    position:fixed;
    bottom: 35px;
    left: 22px;
    background-color: #757575;
    color: rgb(0, 0, 0);
    border-radius: 15%;
    border: 2px solid #ffffff;
    padding: 8px 16px;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
}

a{
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;

}

.boton:hover{
    background-color: #b43434;
}

/* TIPOGRAFÃA */

    p{
        font-size: 14px;
        line-height: 22px;
        color: #bbbbbb;
        font-family: 'Open Sans', sans-serif; 
    }

    h1{
        color: #fff;
        font-family: 'Raleway', sans-serif; 
        font-weight: 700;
        font-size: 60px;
    }

    h2{
        color: #ffffff;
        font-family: 'Raleway', sans-serif; 
        font-weight: 700;
        font-size: 45px;
        text-align: center;
    }

    h3{
        color: #fff;
        font-family: 'Raleway', sans-serif; 
        font-weight: 400;
        font-size: 30px;
        margin: 12px;
    }

    h4{
        color: #ffffff;
        font-family: 'Raleway', sans-serif; 
        font-weight: 400;
        font-size: 25px;

    }

    h5{
        color: #ffffff;
        font-family: 'Raleway', sans-serif; 
        font-weight: 400;
        font-size: 16px;

    }


/* NAVEGADOR */

nav{
    background-color: black;
    padding: 1px;
    
    }
    nav > ul > li {                
    display: inline;
    text-align: center;
    float: right;
    font-size: 15px;
    padding-right: 25px;
    }

    .sticky {
    position: sticky;
    top: 0;
    }

    li a {
        display: block;
        color: rgb(218, 218, 218);
        text-align: right;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: rgb(255, 255, 255);
        color: #d1d1d1;
        font-family: 'Raleway', sans-serif; 

}

/* HEADER */

.fotoprin{
    background-image: url(../img/kbk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: center ;
    min-height: 250px;
    margin-bottom: 20px;
    }
.fotoprin-texto{
    padding-top: 20px;
    text-align: center;
    vertical-align: center;
    padding-left: 160px;
    padding-right: 160px;
}

.fotoprin-texto h1{
    padding-top: 10px;
}

.fotoprin-texto p{
    color: #fff;
    font-size: 20px;
}    

/* ABOUT, SKILLS y CONTACT */

.column {
    float: right;
    width: 30.0%;
    margin: 10px;
    text-align: center;
    padding-bottom: 50px;
/* NO ALINEA 100% */
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

#menu figcaption{

        background-color: #ffffff;
        visibility:hidden;
        text-align:center;
      
        border-color: #000000;
        color: #000000;
        font-family: 'Open Sans', sans-serif; ;
        padding-bottom: 5px;
    }
    
    #menu:hover figcaption{
        visibility:visible;
    }

/* ABOUT */

.doscolumnas {
    column-count: 2;
    width: 90%;
    margin-top: 35px;
    margin-bottom: 180px;
    padding-left: 100px;
    text-align: center;
}

/* FORMULARIO */
    
.form-field{
    width:30%;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 4px;
    margin-bottom: 5px;
    text-align: center;
}

.form-field:focus{
    background-color: rgb(170, 170, 170);
}

form{
    text-align: center;
}

.map{
    text-align: center;
}

/* FOOTER */

.footer {
    text-align: center;
}

.footer-top{
    background-color: rgb(46, 46, 46);
    padding-top: 20px;
    text-align: center;
}

.footer-bottom{
    background-color: black;
    padding: 20px 0;

}

.footer .footer-social li{
    display:inline-block;
    float: none;
    text-align: center;
}

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 25%;
    display: inline;
  }

    ul > .fa > li{
        display: inline-block;
        padding-left: 0px;
    }

    .fa-facebook {
    background: #e84545;
    color: white;
    }

    .fa-youtube {
        background: #e84545;
        color: white;
    }

    .fa-instagram {
        background: #e84545;
        color: white;
      }

    .fa-google {
        background: #e84545;
        color: white;
    }
/* Tiene un PADDING INLINE START que no he puesto y no puedo quitar */

